- @page_title = "Contact"
#static-wrap
  %h1= @page_title
  %p= "If you have questions or ideas, email Pete Graham at <a href='mailto:pete@#{ENV['PERMALINK_ROOT']}'>pete@#{ENV['PERMALINK_ROOT']}</a>".html_safe()
  %p.last= "Report a file in violation of our Terms of Service at <a href='mailto:abuse@#{ENV['PERMALINK_ROOT']}'>abuse@#{ENV['PERMALINK_ROOT']}</a>".html_safe()
