- @page_title = "Terms of Service"
#static-wrap
  %h1= @page_title
  %p= "These Terms of Service (\"<b>Terms</b>\") govern your access to and use of the services and #{t :app}'s website (the \"<b>Services</b>\"), and any information, text, graphics, photos or other materials uploaded, downloaded or appearing on the Services (collectively referred to as \"<b>Content</b>\"). Your access to and use of the Services is conditioned on your acceptance of and compliance with these Terms. By accessing or using the Services you agree to be bound by these Terms.".html_safe()
  %p You are responsible for your use of the Services, for any Content you post to the Services, and for any consequences thereof. The Content you submit, post, or display will be able to be viewed by other users of the Services.
  %p= "You may use the Services only if you can form a binding contract with #{t :app} and are not a person barred from receiving services under the laws of the United States or other applicable jurisdiction. You may use the Services only in compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations."
  %p= "We will respond to notices of alleged copyright infringement that comply with applicable law and are properly provided to us. We reserve the right to remove Content alleged to be infringing without prior notice and at our sole discretion."
  %p= "#{t :app} may revise these Terms, and the most current version will always be at <a href='#{terms_path}'>picmixr.com/terms</a>. By continuing to access or use the Services after those revisions become effective, you agree to be bound by the revised Terms.".html_safe()
  %p.last
    %i Effective: January 25, 2012
