!!! 5
- title = @page_title ? "#{@page_title} - #{t :app}" : "#{t :app} - #{t :description_short}"
%html{:data => {:controller => controller_name,
                :action => action_name,
                :'is-dev' => @is_dev,
                :'app-name' => t(:app),
                :'app-name-lower' => t(:app_lower),
                :'description-short' => t(:description_short),
                :'description-medium' => t(:description_medium, :app => t(:app)),
                :root => ENV['PERMALINK_ROOT'],
                :'fb-app-id' => ENV['FACEBOOK_APP_ID'],
                :'fb-cb-frame' => ENV['FACEBOOK_CB_FRAME'],
                :'fb-cb-default' => root_url}}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => "description", :content => "#{t :description_long, :app => t(:app)}"}
    %meta{:name => "keywords", :content => "pictures,photos,images,photo editor,memes,funny pictures,image host,image upload"}
    %meta{:property => "fb:app_id", :content => ENV['FACEBOOK_APP_ID']}
    %meta{:property => "og:type", :content => @og_type ? @og_type : "website"}
    %meta{:property => "og:title", :content => title}
    %meta{:property => "og:url", :content => @og_url ? @og_url : "http://#{ENV['PERMALINK_ROOT']}"}
    %meta{:property => "og:image", :content => @og_image ? @og_image : "#{root_url}assets/logo-medium.png"}
    %meta{:property => "og:description", :content => "#{t :description_medium, :app => t(:app)}"}
    =yield(:custom_metadata)
    %title= title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28614179-1']);
      _gaq.push(['_setDomainName', '#{root_url.starts_with?('https') ? root_url[8..-2] : root_url[7..-2]}']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    .container
      .row
        #landing-header.span12
          #landing-header-inner.row
            #logo-wrap.span3
              %a{:href=> "/"}
                %img#logo{:src => "/assets/logo-small.png", :alt => "#{t :app_lower}"}
            #cta.span9
              #cta-row.row
      =yield
    %footer#default-footer
      %span.spacer= "&copy; 2012 #{t :app}".html_safe
      %a{:href => "/about"} About
      &middot;
      %a{:href => "/about/contact"} Contact
      &middot;
      %a{:href => terms_path} Terms
      %span.spacer
      %a.twitter-follow-button{:href => "https://twitter.com/#{t :twitter}", :data => {"show-count" => "false", :width => "110px", :size => "medium", :lang => "en"}}= "Follow @#{t :twitter}"
      .fb-like{:data => {:send => "false", :layout => "button_count", :width => "90", "show-faces" => "false"}}
    #fb-root.hide
    :javascript
      // Load Facebook JS SDK asynchronously
      (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
      }(document));
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
