!!! 5
%html{:data => {:controller => "#{controller_name}",
                :action => "#{action_name}",
                :'is-dev' => "#{Rails.env.development? ? 'yes' : 'no'}",
                :'fb-app-id' => "#{ENV['FACEBOOK_APP_ID']}",
                :'fb-cb-frame' => "#{ENV['FACEBOOK_CB_FRAME']}",
                :'fb-cb-default' => "#{ENV['FACEBOOK_CB_DEFAULT']}"}}
  %head
    %meta{:charset => 'utf-8'}
    =yield(:custom_metadata)
    %title= @page_title ? "#{@page_title} - PicMixr" : 'PicMixr - Make your photos hilarious'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row
        #landing-header.span12
          .row
            #logo-wrap.span3
              %a{:href=> "/"}
                %img#logo{:src => "/assets/logo-small.png", :alt => "picmixr"}
            #cta.span9
              #cta-row.row
      =yield
    %footer#default-footer
      &copy; 2012 PicMixr.
      %a{:href => "/about"} About
      &middot;
      %a{:href => "/contact"} Contact
      &middot;
      %a{:href => "/terms"} Terms
    #fb-root.hide
    :javascript
      // Load Facebook JS SDK asynchronously
      (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
      }(document));
