<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PicMixr</title>
  <script>
  window.is_dev = <% if Rails.env.development? %>true<% else %>false<% end %>;
  window.is_fb_frame = self !== top;
  window.fb_app_id = "<%= ENV['FACEBOOK_APP_ID'] %>";
  window.top_href = window.is_fb_frame ? "<%= ENV['FACEBOOK_CB_FRAME'] %>" : "<%= ENV['FACEBOOK_CB_DEFAULT'] %>";
  </script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :class => "flash_#{name}" %>
<% end %>

<div class="container">
  <div class="row">
    <div id="landing-header" class="span12">
      <div class="row">
        <div id="logo-wrap" class="span3">
          <a href="/"><img id="logo" src="/assets/logo-medium.png" alt="picmixr" title="picmixr"></a>
        </div>
        <div id="cta" class="span9">
          <div class="row">
            <div id="cta-import-wrap" class="span">
              <a href="#" id="fb-import" class="btn large fb">Import Facebook Photos</a>
            </div>
          </div>
          <!--div id="cta-upload-wrap" class="span">
              <a href="#" class="btn large" data-controls-modal="modal-upload" data-backdrop="static">Upload Pictures</a>
            </div-->
        </div>
      </div>
    </div>
  </div>

<!--a href="#" id="fb-auth">Login with Facebook</a>
<a href="#" id="fb-logout" class="hide">Logout of Facebook</a>
<div id="user-info" class="hide"></div-->

<%= yield %>

</div>
<footer id="default-footer">&copy; 2012 PicMixr. <a href="/about">About</a>&middot;<a href="/contact">Contact</a>&middot;<a href="/terms">Terms</a></footer>
<div id="fb-root" class="hide"></div>
<script>
// Load Facebook JS SDK asynchronously
(function(){
  var e = document.createElement('script'); e.async = true;
  e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
  document.getElementById('fb-root').appendChild(e);
}());
</script>
</body>
</html>
